@model BookSmash.Models.CreatePostModel
@{
    ViewBag.Title = "CreatePost";
}

<h2>Create Post</h2>

<div class="container">
    @using (Html.BeginForm("CreatePost", "Home", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            <label for="title">Title:</label>
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "100", @placeholder = "Fundamentals of Calculus" })
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control", @placeholder = "Thi Dinh" })
        </div>
        <div class="form-group">
            <label for="condition">Condition:</label>
            @Html.TextBoxFor(model => model.Condition, new { @class = "form-control", @placeholder = "Smashed" })
        </div>
        <div class="form-group">
            <label for="department">Department:</label>
            @Html.TextBoxFor(model => model.Department, new { @class = "form-control", @placeholder = "MATH" })
        </div>
        <div class="form-group">
            <label for="code">Code:</label>
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "275" })
        </div>
        <div class="form-group">
            <label for="coursename">Course Name:</label>
            @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", @placeholder = "Introduction to Calculus" })
        </div>
        <div class="form-group">
            <label for="university">University:</label>
            @Html.DropDownListFor(model => model.University, Model.Universities, "-Please Select University-", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @maxlength = "400", @placeholder = "Description..." })
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "75.00" })
        </div>
        <div class="form-group">
            <label for="image">Upload Image:</label>

        </div>
        <button type="submit" class="btn btn-default">Create Post</button>
    }
</div>
