
<h2></h2>

<br />
<p>Title: @ViewBag.Post.Title</p>
<br />
<p>Course: </p>
<br />
<p>Department:</p>
<br />
<p>Condition: @ViewBag.Post.condition</p>
<br />
<p>Description:</p>
<p>@ViewBag.Post.condition</p>
<p>Price: @ViewBag.Post.price.ToString()</p>
<br />
<p>Contact Info:</p>
<p>Email: @ViewBag.Post.email</p>
<p>Phone Number: @ViewBag.Post.Phone</p>
<p>Location: @ViewBag.Post.Uni</p>
<br />

