


<br />
<h3><strong>@ViewBag.Post.Title</strong></h3>
<br />
<p><strong>Course:</strong>@ViewBag.Post.department @ViewBag.Post.code</p>
<p><strong>Condition:</strong> @ViewBag.Post.condition</p>
<p><strong>Description:</strong></p>
<p>@ViewBag.Post.description</p>
<p><strong>Price:</strong>$@ViewBag.Post.price.ToString()</p>
<p><strong>Contact Info</strong></p>
<p><strong>Email:</strong> @ViewBag.Post.email</p>
<p><strong>Phone Number:</strong> @ViewBag.Post.Phone</p>
<p><strong>Location:</strong> @ViewBag.Post.Uni</p>
<br />

