<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "AccountCreation";
}

<h2>Account Creation</h2>

@using (Html.BeginForm("CreationSubmittion", "Authentication", FormMethod.Get,
    new { id = "accountCreationForm", onsubmit = "return validateCreationForm()" }))
{
    <p>The following personal information is required to make an account. Your email address will act as your
    username on BookSmash:</p>
    <br />
    <table>
        <tr>
            <td>Email:</td>
            <td>@Html.TextBox("Email")</td>
            <td style="color:red">@ViewBag.UsernameTaken</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>@Html.Password("Password")</td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td>@Html.Password("confirmPassword")</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>@Html.TextBox("Fname")</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Html.TextBox("Lname")</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>@Html.TextBox("Phone_Num")</td>
            <td style="color:red">@ViewBag.PhoneNumTaken</td>
        </tr>
    </table>
    <br />

    <p>The following information about university is used to optimize searches and buyers to be able to find your textbook:</p>
    <br />
    <table>
        <tr>
            <td>University Name:</td>
            <td>@Html.TextBox("UNI_NAME")</td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Create Account" />
    <br />
    <p>@ViewBag.CreationMessage</p>
    <br />
}