@model BookSmash.Models.AdminModel

@{
    ViewBag.Title = "AdminPage";
}

<br />

@using (Html.BeginForm("UniEntry", "Authentication", FormMethod.Post, new { role = "form" }))
{
    <br />
    <p>

        As admin you may enter a university. Please fill out the required form below:
    </p>
    <p style="color:red">@ViewBag.EmptyFields</p>
    <br />
    <table>
        <tr>
            <td>University Name:</td>
            <td>@Html.TextBoxFor(model => model.UNI_NAME, new { @class = "form-control" })</td>
            <td style="color:red">@ViewBag.InvalidUni</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>@Html.TextBoxFor(model => model.City, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Province/State:</td>
            <td>@Html.TextBoxFor(model => model.Prov_State, new { @class = "form-control" })</td>
            <td style="color:red">@ViewBag.InvalidProv</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>@Html.TextBoxFor(model => model.Country, new { @class = "form-control" })</td>
        </tr>
    </table>
    <br />
    <input type="submit" class="btn btn-default" value="Create University" />
    <br />
    <p>@ViewBag.UniSubmitMessage</p>
    <br />
}

<br />

@using (Html.BeginForm("AdminEntry", "Authentication", FormMethod.Post, new { role = "form" }))
{
    <br />
    <p>

        As Admin you may enter a user to promote to Admin status. Please fill out the required form below:
    </p>
    <p style="color:red">@ViewBag.EmptyFielsAdnminEntry</p>
    <br />
    <table>
        <tr>
            <td>User Email:</td>
            <td>@Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })</td>
            <td style="color:red">@ViewBag.UserDoesNotExist</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>@Html.TextBoxFor(model => model.Role, new { @class = "form-control" })</td>
            <td>*(Admin, CEO, ect.)</td>
        </tr>
    </table>
    <br />
    <input type="submit" class="btn btn-default" value="Create Admin" />
    <br />
    <p>@ViewBag.AdminSubmitMessage</p>
    <br />
}